.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo

data/raw/
data/processed/
data/injected/

outputs/checkpoints/
outputs/results/

*.fits
*.pt
*.npy

.DS_Store
.ipynb_checkpoints/

experiments/configs/*.yaml